<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="GuppyMarket"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuppyMarketIDN"
        tools:targetApi="31">
        <activity
            android:name=".menuHome.KeranjangHome"
            android:exported="false" />
        <activity
            android:name=".menuProfile.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.AuctionAdapter"
            android:exported="false" />
        <activity
            android:name=".menuAuction.DetailAuctionActivity"
            android:exported="false" />
        <activity
            android:name=".menuProfile.Information"
            android:exported="false" />
        <activity
            android:name=".menuHome.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.GridAdapter"
            android:exported="false" />
        <activity
            android:name=".menuProfile.AddMyProducts"
            android:exported="false" />
        <activity
            android:name=".menuProfile.MyProductsActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.FilterAdapter"
            android:exported="false" />
        <activity
            android:name=".menuHome.BottomDialogFilter"
            android:exported="false" />
        <activity
            android:name=".menuProfile.MenuProfile"
            android:exported="false" />
        <activity
            android:name=".adapter.BestSellerAdapter"
            android:exported="false" />
        <activity
            android:name=".intro.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".intro.VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".intro.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".intro.Register"
            android:exported="false" />
        <activity
            android:name=".intro.Login"
            android:exported="false" />
        <activity
            android:name=".intro.Intro"
            android:exported="false"
            android:theme="@style/Theme.GuppyMarketIDN" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>